@page "/{id:int?}"
@model Momeu_Olivia_Proiect.Pages.Produse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Makeup</h1>

<p>
    <a asp-page="Create">Adauga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Producator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].DataDisponibilitatii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Furnizor.NumeFurnizor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].CategoriiProduse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProdusD.Produse)
        {
            string selectedRow = "";
            if (item.ID == Model.ProdusID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDisponibilitatii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Furnizor.NumeFurnizor)
            </td>
            <td>
                @{
                    foreach (var category in item.CategoriiProduse)
                    {
                        /*@category.Categorie.ID @:*/ @category.Categorie.NumeCategorie <br />
                    }
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
        }
    </tbody>
</table>
